
@{
    ViewData["Title"] = "Greetings";
}

<h1>Greetings</h1>

<p>The value of myMessage is: Hello c# Marathon! </p>
<p>The greeting is: welcome to our project</p>
<p>Here in Ukraine: @ViewBag.day </p>
<p>We wish you : @ViewBag.greet</p>
